.box{
    font-size: 14px;
    max-width: 970px;
    margin: 10px auto;
    overflow: hidden;
    border: 1px solid #CCC;
}
.tip{
    padding: 15px ;
    background-color: rgb(254,236,215);
    color:  #f60;
    border-color: #feecd7;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px ;
    span,a{
        margin-right: 5px ;
    }
}
.piliang{
    padding: 15px ;

}
.cityBtn{
    margin: 5px !important;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  } 
  .buzhoutiao{
      padding: 10px 15px;
  }
  .buzhou1{
      padding: 50px 150px 20px 50px;
      margin-left: -50px;
  }
.order1{
    color: #999;
}